version: "2.1"
services:
    backup_privatebin:
        build:
            context: .
            dockerfile: Dockerfile-postgres
        image: filament/duplicity:postgres
        hostname: backup-privatebin
        domainname: "{{ privatebin_url }}"
        environment:
            DST: "swift://privatebin_{{ inventory_hostname|lower }}"
            PGDATABASE: "none"
            PGPASSWORD: "none"
            PGUSER: "none"
            PASSPHRASE: "{{ srv_proxy_pass }}"
            SWIFT_USERNAME: "{{ swift_username }}"
            SWIFT_PASSWORD: "{{ swift_password }}"
            SWIFT_AUTHURL: "{{ swift_authurl }}"
            SWIFT_AUTHVERSION: {{ swift_authversion }}
            SWIFT_TENANTNAME: "{{ swift_tenantname }}"
            SWIFT_TENANTID: "{{ swift_tenantid }}"
            SWIFT_REGIONNAME: "{{ swift_regionname }}"
            JOB_200_WHEN: "never"
            JOB_300_WHAT: "backup --full-if-older-than 6D"
            JOB_301_WHAT: "dup remove-all-inc-of-but-n-full 3 --force $$DST $$@"
            JOB_301_WHEN: "daily"
            JOB_302_WHAT: "dup remove-all-but-n-full 3 --force $$DST $$@"
            JOB_302_WHEN: "daily"
        volumes:
            - privatebin_data:/mnt/backup/src/privatebin:z
        command:
            - /etc/periodic/daily/jobrunner

volumes:
    privatebin_data:
        external: true
