version: '2.1'
  
services:
  privatebin:
    image: privatebin/nginx-fpm-alpine 
    container_name: privatebin
    read_only: true
    restart: unless-stopped
    volumes:
      - data:/srv/data:z
      - run:/run:z
      - nginx_tmp:/var/lib/nginx/tmp:z
      - tmp:/tmp:z
    networks:
      inverseproxy_shared:
    labels:
      traefik.enable: "true"
      traefik.http.routers.privatebin.rule: "Host(`{{ privatebin_url }}`)"
      traefik.http.routers.privatebin.service: "privatebin"
      traefik.http.services.privatebin.loadbalancer.server.port: "80"

networks:
    inverseproxy_shared:
        external: true

volumes:
    data:
    run:
    nginx_tmp:
    tmp:
